.modal-backdrop{
    position: fixed;
    z-index: 5000 !important;
    width: 100vw !important;
    height: 100vh !important;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.4);
    color: #fff;
    pointer-events: all;

}


.modal-container{
    padding: 3rem 4rem;
    background: linear-gradient(90deg,rgba(0,0,0,.945) 40%,transparent);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 5000 !important;
}

.modal-title{
    margin-left: 10px;
    font-size: 2.8rem;
    color: white;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px #000;
}

.modal-description{
    margin-left: 10px;
    margin-top: -20px;
    font-size: 1.5rem;
    color: white;
    display: flex;
    width: 30vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px #000;
}

.modal-close{
    background-color: transparent;
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
    color: white;
    border-color: transparent;
    cursor: pointer;
    background-repeat: repeat;
    margin-top: -10px;
    text-shadow: 2px 2px #000;  
}
.modal-icon{
    stroke: black;
    stroke-width: 20;
}
.modal-icon:hover{
    opacity: 75%;
}

.modal-details{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: -30px;
    color: white;
    font-size: 2.0rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px #000;
    p{
        padding: 5px;
        font-weight: bold;
    }
    .rating{
        color: #0cf520;
    }
}